@font-face {
  font-family: "mak";
  src: local("MAK-bold"), url("../assets/fonts/Mak-bold.woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "mak";
  src: local("MAK-light"), url("../assets/fonts/Mak-light.woff");
  font-weight: 300;
  font-style: normal;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dedede;
  background-image: url(../assets/images/noise.png), url(../assets/images/bg.png);
  background-position: 0 0, 0 0;
  background-size: auto, 100% auto;
  background-repeat: repeat, repeat-y;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100vh;
  padding-top: 147px;
}
input,
textarea,
select {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
}
textarea {
  resize: none;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.main-header {
  padding: 100px 0;
}
.main-header__title {
  margin: 0 0 70px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: normal;
  color: #1F1E1E;
}
.main-header__text {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: normal;
  color: #1F1E1E;
}
.main-header__picture {
  display: block;
  margin-bottom: 70px;
  position: relative;
  width: 100%;
}
.main-header__picture::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 16.927%;
}
.main-header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.title {
  margin: 0 0 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 45px 9px;
  max-width: 624px;
  width: 100%;
  text-align: center;
  background-color: #1F1E1E;
  text-transform: uppercase;
  font-family: Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
}
a {
  color: #1f1e1e;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
button {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 40px;
  border: 1px solid #1f1e1e;
  background-color: transparent;
  outline: none;
  color: #1f1e1e;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  overflow: hidden;
  cursor: pointer;
}
.btn:active {
  background-color: #1f1e1e;
  color: #ffffff;
}
.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  font-weight: 600;
  font-size: 16px;
  color: #1f1e1e;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.link:hover {
  color: #bc3324;
}
.link:active {
  color: #bc3324;
}
.link__icon {
  margin-left: 20px;
}
.link__name,
.link__icon {
  cursor: pointer;
}
.section-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 624px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 62px;
  margin: 0 auto 150px;
  padding: 8px 45px;
  background-color: #1f1e1e;
  color: #ffffff;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.277;
  text-align: center;
  text-transform: uppercase;
}
.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.radio__label {
  display: block;
  margin-bottom: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 23px;
  position: relative;
  min-height: 23px;
  cursor: pointer;
}
.radio__label:last-child {
  margin-bottom: 0px;
}
.radio__input {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  visibility: hidden !important;
  pointer-events: none;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.radio__input:checked ~ .radio__mark {
  background-color: #1f1e1e;
}
.radio__mark {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #1f1e1e;
  padding: 3px;
  background-clip: content-box;
  background-color: transparent;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.radio__name {
  display: block;
  margin-left: 23px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.check {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-left: 40px;
  display: block;
}
.check__input {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  visibility: hidden !important;
  pointer-events: none;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.check__input:checked ~ .check__mark {
  background-color: #1f1e1e;
}
.check__input:checked ~ .check__mark::after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 6px;
  height: 12px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.check__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #1f1e1e;
  background-color: transparent;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.check__label {
  font-size: 14px;
  color: #1f1e1e;
}
.field__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #1f1e1e;
}
.field__title--mb7 {
  margin-bottom: 7px;
}
.field__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.field__select,
.field__input,
.field__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  padding: 17px 20px 16px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  color: #1f1e1e;
}
.field__select,
.field__input {
  height: 55px;
}
.field__textarea {
  height: 150px;
}
.field__input--w55 {
  width: 55px;
}
.field__input--w110 {
  width: 110px;
}
.field__input--datetime {
  padding: 17px 13px 16px;
  text-align: center;
}
.field__input::-webkit-input-placeholder {
  font-size: 16px;
  color: #6c6c6c;
}
.field__input::-moz-placeholder {
  font-size: 16px;
  color: #6c6c6c;
}
.field__input:-ms-input-placeholder {
  font-size: 16px;
  color: #6c6c6c;
}
.field__input::-ms-input-placeholder {
  font-size: 16px;
  color: #6c6c6c;
}
.field__input::placeholder {
  font-size: 16px;
  color: #6c6c6c;
}
.field__label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 22px;
  color: #1f1e1e;
}
.field__label--textarea {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #1f1e1e;
}
.form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  row-gap: 30px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.form__list--mb50 {
  margin-bottom: 50px;
}
.form__group {
  width: calc(50% - 30px);
}
.form__field {
  display: block;
  width: 100%;
}
.form__field--w50 {
  width: calc(50% - 30px);
}
.form__field--mb30 {
  margin-bottom: 30px;
}
.form__btn {
  max-width: 400px;
  width: 100%;
}
.form__check--mb40 {
  margin-bottom: 40px;
}
.form__close-btn {
  margin: 0 auto;
  padding: 4px 0;
  border: none;
  background: transparent;
  color: #1f1e1e;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  margin-left: 133px;
}
.form__close-btn:hover {
  color: #bc3324;
}
.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 54px;
}
.contacts-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 110px;
  background-color: #1f1e1e;
  color: #bc3324;
}
.contacts-item__title {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
  color: #1f1e1e;
}
.contacts-item__info {
  margin: 0 0 5px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: #1f1e1e;
}
.contacts-item__info[href] {
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.contacts-item__info[href]:active {
  color: #bc3324;
}
.contacts-item__info:last-child {
  margin-bottom: 0;
}
.subscribe {
  max-width: 410px;
  width: 100%;
}
.subscribe__title {
  margin: 0 0 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}
.subscribe__wrapper {
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.subscribe__input {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 15px 15px 15px 28px;
  background-color: #ffffff;
}
.subscribe__input:focus {
  outline: none;
}
.subscribe__submit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: #1f1e1e;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.subscribe__submit:active {
  background-color: #bc3324;
}
.home {
  padding-top: 147px;
}
.home__listing {
  margin-bottom: 95px;
}
.event-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 405px;
  max-width: 100%;
  min-width: 280px;
}
.event-card__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}
.event-card__link:active .event-card__title {
  color: #bc3324;
  text-decoration-color: #bc3324;
}
.event-card__picture {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 25px;
  font-size: 0;
  text-decoration: none;
  overflow: hidden;
}
.event-card__picture ::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 107.16%;
}
.event-card__picture-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.event-card__title {
  margin: 0 0 auto;
  min-height: 64px;
  text-decoration: underline;
  text-decoration-color: transparent;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #1F1E1E;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.event-card__description {
  margin: 15px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #1F1E1E;
}
.event-card__time {
  margin-top: auto;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #1F1E1E;
}
.article-card {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.article-card:hover .article-card__picture {
  -webkit-box-shadow: 0 0 30px rgba(31, 30, 30, 0.55);
          box-shadow: 0 0 30px rgba(31, 30, 30, 0.55);
}
.article-card__link {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: block;
  width: 467px;
  margin-right: 60px;
  font-size: 0;
  text-decoration: none;
}
.article-card__link:hover ~ .article-card__info .article-card__title-link {
  color: #bc3324;
  text-decoration-color: #bc3324;
}
.article-card__picture {
  display: block;
  position: relative;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  overflow: hidden;
}
.article-card__picture::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 62.3126%;
}
.article-card__img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-card__info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 30px 0;
  padding-right: 150px;
}
.article-card__time {
  margin: 0 0 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
.article-card__title-link,
.article-card__description {
  max-width: 470px;
}
.article-card__title-link {
  margin: auto 0 40px;
  color: #1f1e1e;
  text-decoration-color: transparent;
  -webkit-transition: color 0.2s, text-decoration-color 0.2s;
  transition: color 0.2s, text-decoration-color 0.2s;
}
.article-card__title-link:hover {
  color: #bc3324;
  text-decoration-color: #bc3324;
}
.article-card__title {
  margin: 0;
  color: inherit;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}
.article-card__description {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}
.article-card__arrow {
  position: absolute;
  right: 0;
  bottom: 30px;
  color: inherit;
  -webkit-transition: none;
  transition: none;
}
.article-card + .article-card {
  margin-top: 120px;
}
.article-card + .article-card::before {
  content: "";
  display: block;
  position: absolute;
  margin: 0 auto 60px;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1254px;
  height: 1px;
  background-color: #1f1e1e;
  pointer-events: none;
}
.listing {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listing__events-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -30px -120px;
}
.listing__event-card {
  max-width: 405px;
  width: calc(33.333% - 60px);
  margin: 0 30px 120px;
}
.listing__link {
  margin-top: 85px;
  display: inherit;
  margin-left: auto;
}
.events {
  padding-top: 147px;
}
.events__listing {
  margin-bottom: 100px;
}
.events__title {
  -ms-flex-item-align: center;
      align-self: center;
}
.events__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1414px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 67px;
  margin-right: 30px;
}
.reserve {
  display: grid;
  gap: 65px 11%;
  grid-template-columns: 405px calc(89% - 405px);
  grid-template-areas: "checks scheme" "order legend";
  width: 100%;
}
.reserve__checks {
  grid-area: checks;
}
.reserve__order {
  grid-area: order;
}
.reserve__scheme {
  grid-area: scheme;
}
.reserve > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  background-color: coral;
  text-align: center;
}
.reserve__scheme-wrapper {
  position: relative;
  width: 100%;
}
.reserve__scheme-wrapper::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 51.15384%;
}
.reserve__scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.event {
  padding: 40px 0 150px;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 147px;
  z-index: 100;
}
.page-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(222, 222, 222, 0.5);
}
@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .page-header::before {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: rgba(222, 222, 222, 0.5);
  }
}
.page-header__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__logo {
  display: inline-block;
  width: 202px;
  height: 147x;
}
.page-header__logo-img {
  width: 100%;
  height: 100%;
}
.page-header__nav {
  display: inline-block;
}
.page-header__nav-link {
  margin: 0 25px;
  font-family: "Open Sans", sans-serif;
  color: #1f1e1e;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}
.page-header__nav-link:hover {
  color: #bc3324;
}
.page-header__sign-in-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  padding: 15px 40px;
  background-color: transparent;
  border: 1px solid #1F1E1E;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  color: #1F1E1E;
}
.pp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 90px 50px 50px;
  overflow-y: auto;
  z-index: 110;
  background-color: #dedede;
  display: none;
}
@supports ((-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px))) {
  .pp {
    background-color: rgba(31, 30, 30, 0.4);
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
  }
}
.pp__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1210px;
  width: 100%;
  margin: auto;
  padding: 70px 40px 40px;
  background-color: #dedede;
  background-image: url(../../assets/images/noise.png);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto;
}
.pp__title {
  margin: -110px 0 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 84px;
  max-width: 595px;
  background-color: #1f1e1e;
  text-transform: uppercase;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.44px;
  color: #ffffff;
}
.pp__sticky-close {
  position: sticky;
  -ms-flex-item-align: end;
      align-self: flex-end;
  top: 0;
  width: 0;
}
.pp__sticky-btn {
  position: absolute;
  right: -70px;
  top: -100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #1f1e1e;
  color: #ffffff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.pp__form {
  margin: auto;
  max-width: 870px;
}
.about {
  padding-bottom: 90px;
}
.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.about__title {
  margin: 0 0 50px;
  font-size: 44px;
  font-weight: 700;
  color: #1f1e1e;
}
.about__title--w868 {
  max-width: 868px;
  width: 100%;
}
.about__title--2 {
  grid-area: title;
}
.about__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 100px;
  max-width: 870px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #1f1e1e;
}
.about__text--2 {
  grid-area: text;
  margin-left: auto;
}
.about__text--mb90 {
  margin-bottom: 90px;
}
.about__picture {
  grid-area: picture1;
  position: relative;
  display: block;
}
.about__picture::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 66.322%;
}
.about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__block2 {
  display: grid;
  grid-template-areas: "picture1 picture1 picture2" "title title picture2" "text text text";
  gap: 60px;
  grid-template-columns: 1fr 1fr 404px;
}
.about__picture2 {
  grid-area: picture2;
  align-self: flex-end;
  position: relative;
  display: block;
}
.about__picture2::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 122.029%;
}
.about__block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 60px;
}
.about__picture3 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 18px 9px 0 49px;
  max-width: 930px;
  width: 100%;
}
.about__picture3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65%;
  background-color: #bc3324;
}
.about__picture3::after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 40.86%;
}
.about__img2 {
  position: absolute;
  top: 18px;
  left: 9px;
  right: 9px;
  bottom: 0;
  width: calc(100% - 58px);
  -o-object-fit: contain;
     object-fit: contain;
}
.about__block3-wrapper {
  max-width: 344px;
  width: 100%;
}
.page-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 0 75px;
}
.page-footer__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.page-footer__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.page-footer__border::before,
.page-footer__border::after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 2px;
  width: 2px;
}
.page-footer__border::before {
  margin-right: 50px;
  background: -webkit-gradient(linear, right top, left top, from(#1C1B1B), color-stop(82.86%, rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 82.86%);
}
.page-footer__border::after {
  margin-left: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#1C1B1B), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 100%);
}
.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer__nav {
  margin-right: 30px;
  position: relative;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}
.page-footer__nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #bc3324;
}
.page-footer__nav-link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1f1e1e;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.page-footer__nav-link:active {
  color: #bc3324;
}
.display-none {
  display: none;
}
.color-red {
  color: #bc3324;
}
.width_624 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 624px;
}
.is-hidden {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  visibility: hidden !important;
  pointer-events: none;
  overflow: hidden !important;
  white-space: nowrap !important;
}
@media (hover: hover) {
  .btn:hover {
    background-color: #1f1e1e;
    color: #ffffff;
  }
  .contacts-item__info[href]:hover {
    color: #bc3324;
  }
  .subscribe__submit:hover {
    background-color: #bc3324;
  }
  .event-card__link:hover .event-card__title {
    color: #bc3324;
    text-decoration-color: #bc3324;
  }
  .pp__sticky-btn:hover {
    background-color: #a51505;
  }
  .page-footer__nav-link:hover {
    color: #bc3324;
  }
}
